.markdown-section {
  display: flex;
  width: 100%;
}

.textarea {
  width: 50%;
  height: auto;
  font-size: 1rem;
  outline: none;
  color: var(--black);
}

.markdown {
  height: auto;
}

.markdown-full {
  width: 100%;
}

.markdown-half {
  width: 50%;
}